<!-- @destinations.each do |destination|
  render :partial => "destinations/destination", :local => {:destination => destination} 

end  -->

  <!-- Or -->

<section id="bucket-list">
  <h1>Bucket List</h1>
    <%= render @destinations %>
</section>