<html>
<head>
  <title>Bucketlist</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>


   <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCehkrl7f7PNf7LOFN-D7pnM6JYpwUtvIk&sensor=FALSE">
   </script>

</head>
<body>
<%= yield %>
</body>
</html>